<div class="ui-select__wrapper" ngbDropdown [autoClose]="true" (openChange)="onOpenChange($event)">
  <button class="ui-select__toggle" (focus)="onFocus()" ngbDropdownToggle [disabled]="isDisabled()">{{ selected() || placeholder() }}</button>

  <div class="ui-select__menu" ngbDropdownMenu>

    @for (option of options(); track option.label) {
      <button (click)="onOptionClick(option.label)" class="ui-select__item-wrapper" ngbDropdownItem>
        <div class="ui-select__item">{{ option.label }}</div>
      </button>
    }

  </div>
</div>
