.ui-input {
  position: relative;
  height: 1.5rem;
  display: block;
  white-space: nowrap;

  &__input {
    display: block;
    outline: none;
    position: relative;
    height: 100%;
    padding: 0.1875rem 0.5rem;
    box-sizing: border-box;
    font-size: 1rem;
    color: rgb(104, 113, 150);
    font-weight: 500;
    line-height: 1rem;
    caret-color: rgba(216, 220, 235, 1);
    background-color: rgba(216, 220, 235, 0.3);
    border-radius: 0.3125rem;
    transition: color .3s ease, background-color .3s ease;
    cursor: pointer;

    &:focus {
      color: rgb(62, 64, 219);
      background-color: rgba(62, 64, 219, 0.07);
    }

    &--populated {
      color: rgb(62, 64, 219);
      background-color: rgba(62, 64, 219, 0.07);
    }

    &--disabled {
      pointer-events: none;
      color: rgb(216, 220, 235);
      background-color: rgba(216, 220, 235, 0.3);
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
